html {
  height: 100%;
  font-size: 10px;
}

body {
  background-color: rgb(245, 247, 249);
  display: flex;
  overflow: hidden;
  font-size: 1.6rem;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100%;
}
